<!DOCTYPE html>
<html>
<head>
	<title>Add Profile</title>
</head>
<body>
	<h3>Profile form</h3>
	<form action="/add" method="POST">
		<label>Name</label>
		<input type="text" name="name" placeholder="first name...">
		<label>E-Mail</label>
		<input type="text" name= "email" placeholder="last name...">
		<label>DOB</label>
		<input type="date" name="dob" placeholder="dob..">
        <label>Account Number</label>
		<input type="number" name="account_number" placeholder="account_number..">

		<button type="submit">Add</button>
	</form>
</body>
</html>
